@model app.Models.FormModel


<h2>Add</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Instance</h3>

<form asp-action="Add" asp-controller="Home">
    <label asp-for="SessionValue"></label>
    <input asp-for="SessionValue" placeholder="Add some value"/>
    <input type="submit" />
</form>

@foreach (var item in ViewBag.CurrentValues)
{
    @item <br />
}